<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>controller.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCart</servlet-name>
        <servlet-class>controller.ManageCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>controller.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>controller.ManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>controller.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>controller.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrder</servlet-name>
        <servlet-class>controller.ManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderDetail</servlet-name>
        <servlet-class>controller.ManageOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>controller.DeleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCart</servlet-name>
        <url-pattern>/ManageCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/ManageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/EditAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrder</servlet-name>
        <url-pattern>/ManageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderDetail</servlet-name>
        <url-pattern>/ManageOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
